<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Error 404</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="container">
      <%- include("header") -%>
      <div class="main">
        <h1>Error 404</h1>
        <p>Page was not found</p>
      </div>
      <div class="footer"><%- include("../public/footer.html") -%></div>
    </div>
  </body>
</html>
