  <% if (locals.user) { %>
    <div>

    </div>
  <% } else { %>
    <div class="main-welcome-sidebar">
      <h1>Что такое Fake News?</h1>
      <p>Fake News - это платформа, позволяющая проверить достоверность новостей.</p>
    </div>
    <div class="main-welcome-action">
      <h1>Проверь свои новости на достоверность сейчас.</h1>
      <a href="/register">Начать></a>
      <img src="img/main.png">
    </div>
  <% } %>
