* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Calibri", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100vw;
  min-height: 100vh;
}

h1, h2 {
  font-weight: 500;
  color: black;
  font-size: 20px;
}

h3 {
  color: #b37337;
  font-size: 20px;
  font-weight: 400;
  display: block;
  width: calc(100vw - 530px);
  height: 40px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border-radius: 10px;
  background-color: #edbf646a;
  border: 1px solid #edbf646a;
  margin: 10px;
}

h4 {
  font-size: 30px;
  font-weight: 300;
  color: #b37337;
  padding: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 400px;
  margin: 30px;
  word-break: break-all;
}

.full-article {
  font-size: 14px;
  padding: 0px;
}

p .full-article {
  display: block;
  width: 350px;
}

.full-article-form {
  background-color: white;
}

.container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "main-welcome-sidebar main-welcome-action"
    "footer footer";
  grid-template-rows: 40px 1fr 40px;
  grid-template-columns: 500px 1fr;
  background-color: #fafafa;
  grid-gap: 10px;
}

.nav, .footer {
  background-color: #363636;
}

.nav {
  grid-area: nav;
}

.footer div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px;
  grid-gap: 100px;
  align-items: center;
  justify-items: center;
}

.nav div {
  padding-left: calc(100vw / 4);
}

.nav div a {
  display: inline-block;
  vertical-align: middle;
  padding: 2px 60px 0 60px;
}

.main-welcome-sidebar, .main-welcome-action {
  min-height: calc(100vh - 100px);
  background-color: white;
}

.main-welcome-sidebar {
  grid-area: main-welcome-sidebar;
  position: relative;
}

.main-welcome-action {
  grid-area: main-welcome-action;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: #363636;
}

body::-webkit-scrollbar-thumb {
  background-color: #edbf646a;
  border-radius: 5px;
  border: 1px solid #edbf646a;
}

.main-welcome-sidebar .register-login-article-form {
  background-color: #fafafa;
  display: grid;
  padding: calc((100vh - 100px) / 3) 0px 0px 20px;
  width: 500px;
  min-height: calc(100vh - 100px);
  border-radius: 15px;
}

.articles-page .register-login-article-form {
  background-color: white;
  display: grid;
  padding: 40px 0px 0px 45px;
  width: 500px;
  min-height: calc(100vh - 100px);
  border-radius: 15px;
}

.main-welcome-sidebar form > div > div {
  padding: 5px;
}

.message {
  dispay: block;
  font-size: 20px;
  margin: 5px;
  background-color: #d4552f4e;
  border-radius: 15px;
  width: 500px;
  border: 1px solid #ed4d1c;
}

.message p {
  margin: auto;
  color: red;
}

.footer {
  color: #b8b8b8;
  grid-area: footer;
}

.main-welcome-sidebar h1,
.main-welcome-sidebar p {
  margin-left: 30px;
  margin-right: 30px;
}

.main-welcome-sidebar h2 {
  margin-left: 5px;
}

.main-welcome-sidebar h1 {
  margin-top: 20px;
}

.main-welcome-sidebar p {
  word-break: break-all;
  margin-top: 9px;
}

.main-welcome-action h1,
.main-welcome-action a {
  margin-left: 100px;
}

.main-welcome-action h1 {
  margin-top: 20px;
}

.main-welcome-action a {
  color: #c98318;
}

.main-welcome-action img {
  width: 50%;
  align-self: center;
}

.nav a {
  color: #b8b8b8;
  text-decoration: none;
}

.nav a:hover {
  color: #c7c7c7;
}

.nav a:active {
  color: #8c8c8c;
}

.input, .input-button, .message , .check-input-button{
  display: block;
  width: 400px;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border-radius: 10px;
}

.article-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 7px;
  font-size: 10px;
  color: #b37337;
  width: 50px;
  height: 20px;
  border-radius: 6px;
  background-color: #edbf646a;
  border: 1px solid #edbf646a;
  text-decoration: none;
  padding: 4px 0px 0px 9px;
}

.article-delete-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 7px;
  font-size: 9px;
  color: red;
  width: 50px;
  height: 20px;
  border-radius: 6px;
  background-color: #d4552f4e;
  border: 1px solid #d4552f4e;
  text-decoration: none;
  padding: 0px;
}

.article-delete-button:hover {
  background-color: #b84b2a4e;
}

a .article-button:hover {
  color: #b37337;
  padding: 5px;
}

.check-input-button {
  background-color: #edbf646a;
  border: 1px solid #edbf646a;
  color: #b37337;
  font-size: 14px;
  font-weight: 400;
}

textarea {
  display: block;
  width: 400px;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border-radius: 10px;
}

.article {
  position: relative;
  display: block;
  width: calc(100vw - 530px);
  height: 100px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border-radius: 10px;
  background-color: white;
  color: #212529;
  border: 1px solid #e3e3e3;
  margin: 10px;
  word-break: break-all;
}

.input, textarea {
  background-color: #fafafa;
  color: #212529;
  border: 1px solid #e3e3e3;
}

.articles-page .input, .articles-page textarea {
  background-color: white;
}

.input-button {
  background-color: #4a78ed;
  color: #fff;
  height: 50px;
  border: 1px solid #5998d4;
}

.input-button:hover, textarea:focus {
  background-color: #537fed;
}

.check-input-button:hover, .article-button:hover {
  background-color: #ebbc607d;
}

.input:focus, textarea:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(158, 158, 158, 0.25);
}

.icon {
  height: 30px;
  padding: 4px 0 0 0;
}
